/*basic styles*/
html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  max-width: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* End Basic Styles */

img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  color: cadetblue;
}
.myColor {
  color: coral;
  font-size: 56px;
}
.myColor2 {
  color: darkcyan;
  font-size: 87px;
}
h1 {
  color: cornflowerblue;
}
