img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  color: cadetblue;
}
.myColor {
  color: coral;
  font-size: 56px;
}
.myColor2 {
  color: darkcyan;
  font-size: 87px;
}
h1 {
  color: cornflowerblue;
}
